<div class="table">
   <div class="form">
        <div class="search-input">
            <input placeholder="Enter a Search Word ">
        </div>
        <div class="select" >
            <select>
                <option>All Applications</option>
            </select>
        </div>
        <div class="select">
            <select>
                <option>All servers</option>
            </select>
        </div>
        <div class="select">
            <select >
                <option>Health check status</option>
            </select>
        </div>
       
   </div>
   <div class="table-members">
    <table>
        <tr>
           <th class="pagination-head" colspan="6">
              <span>
                <img src="../../assets/pictures/PDF.png">
              </span> 
              <span>
                <img src="../../assets/pictures/xls.png"> 
              </span>
    
               <span>
                Showing 10 of 5000 Entries
               </span>
            </th>
          </tr>
        <tr>
          <th>S/N</th>
          <th>APPLICATION</th>
          <th>SERVERS MAPPED</th>
          <th>LAST SCAN DATE</th>
          <th>STATUS</th>
          <th>ACTION</th>


        </tr>
        <tr>
          <td>1</td>
          <td><span class="dot"></span>Application name goes here</td>
          <td class="server">3 Servers</td>
          <td>11/12/20 3: 57:29 PM</td>
          <td class="status"><span class="warning"><img src="../../assets/pictures/triangle.png" width="18"></span>Healthy</td>
          <td><button> View Result</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td><span class="dot"></span>Application name goes here</td>
            <td class="server">3 Servers</td>
            <td>11/12/20 3: 57:29 PM</td>
            <td>Healthy</td>
            <td><button> View Result</button></td>
          </tr>
          <tr>
            <td>3</td>
            <td><span class="dot"></span>Application name goes here</td>
            <td class="server">3 Servers</td>
            <td>11/12/20 3: 57:29 PM</td>
            <td>Healthy</td>
            <td><button> View Result</button></td>
          </tr>
          <tr>
            <td>4</td>
            <td><span class="dot"></span>Application name goes here</td>
            <td class="server">3 Servers</td>
            <td>11/12/20 3: 57:29 PM</td>
            <td>Healthy</td>
            <td><button> View Result</button></td>
          </tr>
      
      </table>
      <div class="pagination">
          <span>
              previous
          </span>
          <span class="active">
              1
          </span>
          <span>
              2
          </span>
          <span>
              3
          </span>
          <span>
            next
        </span>

      </div>

   </div> 
  

</div>