<div class="card-tap">
      <div class="card">
        <div class="title">
            <h3>Application status</h3>
        </div>
      
        <div class="sub-circle">
            
            <div class="inner-sub">
                <div class="circle1">
                    10
                </div>
               <p>All</p>
            </div>
            <div class="inner-sub">
                <div class="circle2">
                    6
                </div>
                
            <p>Available </p>
            </div>
               
           
            <div class="inner-sub">
                <div class="circle3">
                    4
                </div>
                
            <p>critical</p>
            </div>
        </div>

    </div>
    <div class="card">
        <div class="title">
            <h3>Servers</h3>
        </div>
      
        <div class="sub-circle">
            
            <div class="inner-sub">
                <div class="circle1">
                    4
                </div>
               <p>All</p>
            </div>
            <div class="inner-sub">
                <div class="circle2">
                    2
                </div>
                
            <p>Active</p>
            </div>
               
           
            <div class="inner-sub">
                <div class="circle4">
                    2
                </div>
                
            <p>Inactive</p>
            </div>
        </div>

    </div>
   
    <div class="card">
        <h3>Health check counts</h3>
        <div class="count">
            60
            <p>Counts</p>
        </div>

    </div>
</div>