<div class="top-bar " (click) = "changeNav()">
    <div class="toggle-bar">
        <div class="rec"></div>
        <div class="rec"></div>
        <div class="rec"></div>
    </div>
 
    <div class="nav-logo ">
        <img  src="../../assets/pictures/Smartcheck Logo White@0.75x@2x.png">
    </div>
    <div class="sub-tab " id="{{display}}">
        <div class="subnav">
            <div routerLink ="/" routerLinkActive="active">
                 <img src="../../assets/pictures/noun_Home_2079957.png">   Home
            </div>
            <div routerLink ="/server" routerLinkActive="active">
                <img src="../../assets/pictures/Group 42581.png">    Server 
            </div>
            <div routerLink ="/application" routerLinkActive="active">
                <img src="../../assets/pictures/noun_application_967926.png">    Application    
            </div>
        </div>
        <div class="status">
            Check Health Status
        </div>

    </div>
    
</div>
