<div class="table">
    <div class="tab-sub">
        <div class="form">
            <div class="search-input">
                <input placeholder="Enter a Search Word ">
            </div>
            <div class="select" >
                <select>
                    <option>All Applications</option>
                </select>
            </div>
          
           
       </div>
      
           <button  class="btn-create">
            Create Server 
           </button>
      
    </div>
    <div class="table-members">
     <table>
         <tr class="table-pag">
            <th class="pagination-head" colspan="7">
               <span>
                 <img src="../../assets/pictures/PDF.png">
               </span> 
               <span>
                 <img src="../../assets/pictures/xls.png"> 
               </span>
     
                <span>
                 Showing 10 of 5000 Entries
                </span>
             </th>
           </tr>
         <tr class="table-body">
           <th>S/N</th>
           <th>SERVER NAME</th>
           <th>IP address</th>
           <th>CPU(%)</th>
           <th>MEMORY(%)</th>
           <th>STORAGE(%)</th>
           <th>ACTION</th>
 
 
         </tr>
         <tr class="table-body">
           <td>1</td>
           <td><span class="dot"></span>Server name goes here</td>
           <td >IP Address goes here</td>
           <td>85.6</td>
           <td > 73.9</td>
           <td > 50</td>
           <td><button> Edit</button></td>
         </tr>
         <tr class="table-body">
            <td>1</td>
            <td><span class="dot"></span>Server name goes here</td>
            <td >IP Address goes here</td>
            <td>85.6</td>
            <td > 73.9</td>
            <td > 50</td>
            <td><button> Edit</button></td>
          </tr>
          <tr class="table-body">
            <td>1</td>
            <td><span class="dot"></span>Server name goes here</td>
            <td >IP Address goes here</td>
            <td>85.6</td>
            <td > 73.9</td>
            <td > 50</td>
            <td><button> Edit</button></td>
          </tr>
          <tr class="table-body">
            <td>1</td>
            <td><span class="dot"></span>Server name goes here</td>
            <td >IP Address goes here</td>
            <td>85.6</td>
            <td > 73.9</td>
            <td > 50</td>
            <td><button> Edit</button></td>
          </tr>
       </table>
       <div class="pagination">
           <span>
               previous
           </span>
           <span class="active">
               1
           </span>
           <span>
               2
           </span>
           <span>
               3
           </span>
           <span>
             next
         </span>
 
       </div>
 
    </div> 
   
 
 </div>